
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  height: 1000px;
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-image: url('reg.jpeg');
}
.container{
  width: 400px;
  background-image: linear-gradient(to top left,rgb(224, 209, 209) 20%,rgb(47, 166, 232) 60%);
  padding: 25px 30px;
  border-radius: 50px 0 50px 0;
  border-top:ridge 4px rgb(0, 0, 0);
  border-right:groove 4px rgb(204, 248, 239);
  border-bottom:ridge 4px rgb(0, 0, 0);
  border-left:groove 4px rgb(204, 248, 239);
}
.container .title{
  border-bottom: solid 2px rgb(204, 248, 239);
  font-weight: 500px;
}
.content .details{
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
.input .details{
  display: block;
  
  font-weight: 500;
  margin-bottom: 5px;
}
.content .input{
  width: 100%;
}
  input[type=date]
  {
    width: 53%;
  }
  .content .input .form-control{
    width: 53%;
  }
 
  content .input .form-control{
    width: 53%;
  }
.details .input{
  height: 45px;
  width: 80%;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  color: rgb(243, 245, 247);
  
}
 .button{
   height: 40px;
   width: 100%;
   /* margin-right: 115px; */
   margin-left: -10px;
 }
.button input{
   height: 100%;
   width: 40%;
   border-radius: 5px;
   border: none;
   color: rgb(243, 245, 247);
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   background: #146405;
   margin-top: 20px;
 }
 
.details .input{
    margin-bottom: 15px;
    width: 100%;
  }
  input[type=submit]{
    margin:10px;
  }
  .button a:link, .button a:visited{
    color:#FFF;
   text-decoration: none;
   border-radius: 5px;
   border: none;
   color: rgb(243, 245, 247);
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   background: #146405;
   padding:12px 25px;

  }
  .button a:hover{
    text-decoration: underline;
  }
 